export PHPBREW_ROOT=/home/toni/.phpbrew
export PHPBREW_HOME=/home/toni/.phpbrew
{% if phpbrew_install %}
export PHPBREW_LOOKUP_PREFIX=/usr
{% else %}
export PHPBREW_LOOKUP_PREFIX=/home/linuxbrew/.linuxbrew/opt:/usr
{% endif %}
